openai==1.42.0
elasticsearch==8.15.0
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
sentence-transformers==3.0.1
scikit-learn==1.5.1
python-dotenv==1.0.1
langfuse==2.46.0
langchain==0.2.16
langchain-elasticsearch>=0.1.50,<0.3
langchain-core>=0.2.38,<0.3.0
langchain-community==0.2.16
playwright==1.46.0
html2text==2024.2.26
unstructured==0.15.9
langchain-openai>=0.1.25,<0.2.0
fastapi==0.115.0
uvicorn==0.30.6
